/* General Styling */
body {
	background-color: lightgray;
	border: 0.5px solid orange;
	font-family: Roboto, sans-serif;
	-webkit-font-smoothing: 
}

a {
	text-decoration: none;
}

/*Nav Bar Section */
.top-nav {
	background-color: #FFFFFF;
	position: fixed;
	width: 100%;
}

.top-nav .content {
	width: 70em;
	margin: 0 auto;
}

.top-nav .content .links {
	float: right;

}

.top-nav .content .links li {
	display: inline-block;
	margin-left: 2em;
	margin-top: 0.5em;
}

.top-nav .content .links li a {
	color: gray;
	font-size: 1.045em;
}

#meet-karma a {
	color: #000000;
	font-weight: bold;
}

#logo {
	float: left;
}