body {
	background-color: lightgrey;
}

div {
	border: 1px solid chocolate;
}

/* Navigation Section */

.top-navigation {
	background-color: #FFFFFF;
	
}

.top-navigation > .content {
	width: 71rem;
	height: 4.375rem;
	margin: 0 auto;
	padding: 0 2rem;	
}

.logo {
	margin: 0 1rem;
}

.top-navigation .links {
	float: right;
	font-family: "Roboto", sans-serif;
	font-size: 1.05rem;
	color: #838994;
	letter-spacing: 0.03rem;
	margin-top: 1.5rem;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 1.5rem;
}

.top-navigation .links .active {
	color: #4C5058;
	font-weight: 500;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}

.top-navigation .links li > a {
	text-decoration: none;
	
}







