body {
	background-color: #FFFFFF;
}

#logo {
	padding: 0.8em 7em;
}

.nav-bar > a {
	color: #c1c1bd;
	text-decoration: none;
	max-height: 50em;
	padding: 0.8em;
}


div {
	border: 1px solid chocolate;
}